* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

header a {
    margin: 0.5rem 2rem;
    text-decoration: none;
    color: black;
}

marquee {
    color: #bb0000;
    margin: 0.5vw;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;


}

nav li {
    margin: 0.25vw 2.5vw;
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: black;
}

nav {
    background: rgb(232, 255, 208);
    border: 0.05rem solid rgb(232, 255, 208);
    border-radius: 2rem;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(216, 207, 207);
}

#logo {
    width: 3rem;
    height: 3rem;

}

body {
    background: linear-gradient(rgb(177, 248, 180), #bde3fc);
    background-size: 100vw 100vh;
}
img {
    height: 80vh;
    width: 95vw;
}
hr{
    background:rgb(211, 111, 149);
    height: 1.5vh;
}
input:not(input[type="submit"]){
    width:30vw;
    height: 4vh;
    padding:1vw;
    border-radius: 0.5rem;
    color:#bb0000;
}
input[type="submit"]{
    padding:1vw;
    color:#bb0000;
    height: 6vh;
    border-radius: 0.5rem;
    cursor: pointer;
}
label{
    font-weight: 400;
    margin:1vw;
}
h3{
    color:blueviolet;
    text-align: center;
}
form{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
hr{
    width: 100vw;
}
@media screen and (max-width:700px) {
    .fa-bars{display:block !important;}
    header , nav ul li {
        display:none;
    }
    
    nav ul li:nth-child(2),
    nav ul li:nth-child(3),
    nav ul li:nth-child(4),
    nav ul li:last-child,
    .applied
    {
        display:block !important;
    }
    img:not(.fa-bars){
        width:15rem;
        height:15rem;
    }
}
.applied{
    display:block !important;
}
.fa-bars{
    width:1rem;
    height:1rem;
}
