*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(#b1f8b4, #bde3fc);
    background-size: 100vw 100vh;
    text-align: center;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;

}
header a {
    margin:0.5rem 2rem;
    text-decoration: none; 
    color:black;
}
marquee{
    color:#bb0000;
    margin:0.5vw;
}
ul{
    display:flex;
    align-items: center;
    justify-content: center;
    

}
nav li{
    margin: 0.25vw 2.5vw;
    list-style-type: none;
   
}
nav a{
    text-decoration:none;
    color:black;
}
nav{
    background:rgb(232, 255, 208);
    border:0.05rem solid rgb(232, 255, 208);
    border-radius: 2rem;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(216, 207, 207);
}
#logo{
    width:3rem;
    height:3rem;

}

#contact,p{
    color:#bb0000;
    
}
h2{
    
    color:blueviolet;
}
hr{
    height:1vw;
    background: rgb(243, 123, 143);
}
img{
    height:100vh;
    width:100vw;
}